openapi: 3.0.3
info:
  title: Nexus Platform API
  description: |
    API para gerenciamento de conteúdo da Plataforma Nexus. 
    
    Permite a criação, leitura, atualização e remoção de posts e autores, seguindo os padrões REST.
    Use esta documentação para integrar seus serviços. Para mais detalhes sobre autenticação, veja nosso [Guia de Autenticação](#).
  version: "1.0.0"
  contact:
    name: API Support
    url: http://www.example.com/support
    email: support@example.com

servers:
  - url: https://api.nexus-platform.com/v1
    description: Servidor de Produção
  - url: https://api.staging.nexus-platform.com/v1
    description: Servidor de Staging (Homologação)
  - url: http://localhost:3000/v1
    description: Servidor de Desenvolvimento Local

tags:
  - name: Posts
    description: Operações relacionadas a posts do blog
  - name: Autores
    description: Gerenciamento de autores

paths:
  /posts:
    get:
      tags:
        - Posts
      summary: Lista todos os posts
      description: Retorna uma lista paginada de todos os posts publicados.
      operationId: getPosts
      responses:
        '200':
          description: Uma lista de posts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostsArray'
    post:
      tags:
        - Posts
      summary: Cria um novo post
      description: Adiciona um novo post à plataforma.
      operationId: createPost
      requestBody:
        description: Objeto Post a ser adicionado
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPost'
      responses:
        '201':
          description: Post criado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /posts/{postId}:
    get:
      tags:
        - Posts
      summary: Busca um post pelo ID
      description: Retorna um único post baseado no seu ID.
      operationId: getPostById
      parameters:
        - name: postId
          in: path
          required: true
          description: ID numérico do post a ser retornado
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Detalhes do post.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Posts
      summary: Atualiza um post existente
      operationId: updatePost
      parameters:
        - name: postId
          in: path
          required: true
          description: ID do post a ser atualizado
          schema:
            type: integer
            format: int64
      requestBody:
        description: Objeto Post com os dados atualizados
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPost'
      responses:
        '200':
          description: Post atualizado com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - Posts
      summary: Deleta um post
      operationId: deletePost
      parameters:
        - name: postId
          in: path
          required: true
          description: ID do post a ser deletado
          schema:
            type: integer
            format: int64
      responses:
        '204':
          description: Post deletado com sucesso.
        '404':
          $ref: '#/components/responses/NotFound'

components:
  schemas:
    Post:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        title:
          type: string
          example: "Explorando a Automação de APIs"
        content:
          type: string
          example: "Neste artigo, vamos mergulhar fundo nas melhores práticas..."
        published_at:
          type: string
          format: date-time
          example: "2025-06-19T20:00:00Z"
        author:
          $ref: '#/components/schemas/AuthorSummary'
    NewPost:
      type: object
      properties:
        title:
          type: string
          example: "Meu Novo Post Incrível"
        content:
          type: string
          example: "Conteúdo detalhado do post."
        author_id:
          type: integer
          format: int64
          example: 42
      required:
        - title
        - content
        - author_id
    AuthorSummary:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 42
        name:
          type: string
          example: "Matheus Lopes"
    PostsArray:
      type: array
      items:
        $ref: '#/components/schemas/Post'
    Error:
      type: object
      properties:
        code:
          type: string
          example: "unprocessable_entity"
        message:
          type: string
          example: "Ocorreu um erro de validação."
        details:
          type: object

  responses:
    NotFound:
      description: O recurso especificado não foi encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Erro de validação. A requisição estava bem formada, mas continha erros semânticos.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

